<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Add Exercise</title>
    </head>
    <body>
        <h2>Add Exercise</h2>
        <form method = "POST">
            <label>Exercise Name: </label> <br>
            <input name="name" required> <br> <br>
            <label>Description: </label> <br> 
            <textarea name="description" required></textarea> <br> <br>
            <label>Muscle Group: </label> <br>
            <input name = "muscle_group" required> <br> <br>
            <label>Image: </label> <br>
            <input name = "image"> <br> <br>
            <button type = "submit">Add Exercise</button> 
        </form>
    </body>
</html>