<!DOCTYPE html> <!--Informs the browser that the page is an HTML5 document-->
<html lang = "en"> <!--Specifies the content is in english improving accessibily-->
    <head> <!--Contains metadata-->
        <meta charset="UTF-8"> <!--Informs the browser how to interpret characters supporting various letter, symbols and accents-->
        <title>Calorie Viewing</title> <!--Name of browser tab-->
    </head>
    <body> <!--What the user sees/interacts with-->
        {% with messages = get_flashed_messages() %} <!--Retrives the message created with flash-->
            {% if messages %} <!--If the message exists, it's shown with green text-->
                <ul style="color: green;"> 
                    {% for message in messages %} <!--Creates a for loop that keeps showing messages when the PWA is run-->
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>View Your Calories</h2>  <!--Informs the user on the feature-->
        {%if entries %} <!--If the user has logs, it shows a table, otherwise it informs the user that there are no calories tracked-->
            <table border="1" cellpadding = "5"> <!--Creates a table with a border and spacing-->
                <tr>
                    <!--Table Headers-->
                    <th>Date</th> 
                    <th>Time</th>
                    <th>Meal</th>
                    <th>Calories</th>
                    <th>Actions</th>
                </tr>
            {% for entry in entries %} <!--Loops through each entry-->
            <tr>
                <!--Table rows that retrieve data from a particular database-->
                <td>{{ entry.entry_date.strftime("%d %b %Y")}}</td> 
                <td>{{ entry.local_time.strftime("%I:%M %p") }}</td> 
                <td>{{ entry.meal}}</td> 
                <td>{{ entry.calories }}</td> 
                <td>
                    <a href="{{ url_for('edit_calories', entry_id = entry.id) }}">Edit</a> <!--Allows the user to edit the data-->
                    <form action = "{{ url_for('delete_calories', entry_id = entry.id) }}" method = "POST" style = "display:inline;"> <!--Allows the user to delete the data. Inline styling keeps button next to edit-->
                        <button type = "submit">Delete</button> <!--Delete button-->
                    </form>
                </td>
            </tr>
            {% endfor %} 
            </table>
        {% else %}
            <p>No Calories Tracked</p>
        {% endif %} 
        <br>
        <hr> <!--Role based UI that allows the user to go back to their respective dashboard-->
        {% if session.role == "gym_goer" %}
            <a href="{{ url_for('gym_goer_dashboard') }}">Back to Dashboard</a>
        {% else %}
            <a href="{{ url_for('personal_trainer_dashboard') }}">Back to Dashboard</a>
        {% endif %}
        <a href="/">Back to Home</a> <!--Allows user to go back to the home page-->
    </body>
</html>