<!DOCTYPE html> 
<html lang = "en"> 
    <head> 
        <meta charset="UTF-8">
        <title>View Exercise</title> 
    </head>
    <body> 
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                <ul style="color: green;"> 
                    {% for message in messages %} 
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>Exercises</h2>
        <!--If there are exercise, they are displayed in a grid. Otherwise, the user is informed that there are no exercises-->
        {% if exercises %} 
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px"> <!--Creates a 3 column grid with spacing between columns. Each exercise is a grid item-->
                {% for exercise in exercises %} <!--Loop creates a grid item per exercise-->
                    <div style="border:1px solid #ccc; padding:10px"> <!--Each grid item has border and padding-->
                        <h3>{{ exercise.name }}</h3> <!--Retrieves name of exercise from table-->
                        <p><strong>Muscle: </strong> {{ exercise.muscle_group }} </p> 
                        {% if exercise.image_url %}
                            <img src="{{ exercise.image_url }}" width="100%">
                        {% endif %}
                        <a href="{{ url_for('exercise_detail', exercise_id = exercise.id) }}"> <!--When the user clicks on the link, the PWA takes them to the page where details are shown-->
                            View Details</a>
                    </div> 
                {% endfor %}
            </div>
        {% else %}
            <p>No exercises yet.</p>
        {% endif %}
        <hr> 
        {% if session.role == "gym_goer" %}
            <a href="{{ url_for('gym_goer_dashboard') }}">Back to Dashboard</a>
        {% else %}
            <a href="{{ url_for('personal_trainer_dashboard') }}">Back to Dashboard</a>
        {% endif %}
        <a href="/">Back to Home</a> 
    </body>
</html>