<!DOCTYPE html> <!--Informs the browser that the page is an HTML5 document-->
<html lang = "en"> <!--Specifies the content is in english improving accessibily-->
    <head> <!--Contains metadata-->
        <meta charset="UTF-8"> <!--Informs the browser how to interpret characters supporting various letter, symbols and accents-->
        <title>{{ exercise.name }}</title> <!--Name of browser tab-->
    </head>
    <body> <!--What the user sees/interacts with-->
        {% with messages = get_flashed_messages() %} <!--Retrives the message created with flash-->
            {% if messages %} <!--If the message exists, it's shown with green text-->
                <ul style="color: green;"> 
                    {% for message in messages %} <!--Creates a for loop that keeps showing messages when the PWA is run-->
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>{{ exercise.name }}</h2> <!--Informs the user on the exercise-->
        <p><strong>Muscle Group: </strong> {{ exercise.muscle_group }} </p> <!--The muscle group the exercise targets-->
        <p>{{ exercise.description }}</p> <!--Description of the exercise-->
        {% if exercise.image_url %} <!--If there is an image then it's displayed-->
            <img src="{{ exercise.image_url }}" width = "300">
        {% endif %}
        <hr>
        <h3>Reviews</h3>
        {% if session.role == "gym_goer" %}
        <form method = "POST" action="{{ url_for('add_review', exercise_id = exercise.id)}}">
            <label>Rating: </label>
            <select name = "rating" required>
                <option value="5">★★★★★</option>
                <option value="4">★★★★</option>
                <option value="3">★★★</option>
                <option value="2">★★</option>
                <option value="1">★</option>
            </select>
            <br> <br>
            <textarea name = "comment" placeholder = "Review the exercise!" maxlength = "400"></textarea>
            <br> <br>
            <button type = "submit">Submit Review</button>
        </form>
        {% endif %}
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong> {{ review.user.username }} </strong>
                        <br>
                        <strong>{{ review.rating }}/5</strong> <br>
                        {{ review.comment }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet</p>
        {% endif %}
        <form action = "{{ url_for('toggle_favourite', exercise_id = exercise.id) }}" method = "POST">
            {% if is_favourite %}
                <button type="submit">Remove Favourite</button>
            {% else %}
                <button type="submit">Favourite</button>
            {% endif %}
        </form>
        <br><br>
        <a href="/exercises">Back to Exercises</a> <!--Allows user to go back to the exercises page-->
    </body>
</html>