<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Gym Goer Dashboard</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="color: green;">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Gym Goer Dashboard</h1>
        <a href="/log-workout">Log Workout</a> <br> <br> <!--Allows the user to log workouts-->
        <a href="/logout">Logout</a> <!--Sends the user back to the home page-->
        <a href="/workout-history">View Workout History</a> <!--Allows the user to see a list of their logged workouts-->
        <a href="/log-calories">Track Your Calories</a> <!--Allows the to track calories-->
        <a href="/calorie-history">View Calories Tracked</a> <!--Allows the user to see a list of their tracked calories-->
    </body>
</html>