<!DOCTYPE html> 
<html lang = "en">
    <head>
        <meta charset="UTF-8"> 
        <title>Gym Goer Dashboard</title> 
    </head>
    <body>
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                <ul style="color: green;"> 
                    {% for message in messages %} 
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Gym Goer Dashboard</h1> 
        <a href="/log-workout">Log Workout</a> <br> <br> <!--Allows the user to log workouts-->
        <a href="/logout">Logout</a> <!--Sends the user back to the home page and clears the session-->
        <a href="/workout-history">View Workout History</a> <!--Allows the user to see a list of their logged workouts-->
        <a href="/log-calories">Track Your Calories</a> <!--Allows the user to track calories-->
        <a href="/calorie-history">View Calories Tracked</a> <!--Allows the user to see a list of their tracked calories-->
        <a href="/view-favourites">View Favourites</a> <!--Allows the user to view their saved exercises-->
        <a href="/exercises">View Exercises</a> <!--Allows the user to view exercises-->
        <a href="/meal-plans">View Meal Plans</a> <!--Allows the user to view meal plans-->
        <a href="/workout-routines">View Workout Routines</a> <!--Allows the user to view workout routines-->
    </body>
</html>