<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Calorie Tracker</title>
    </head>
    <body> 
        {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <ul style="color: green;"> 
                    {% for message in messages %} 
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>Track Your Calories</h2>
        <form method = "POST">
            <label>Meal: </label> <br> <!--What meal the user ate-->
            <input type = "text" name = "meal" required> <br> <br>
            <label>Calories: </label> <br> <!--How many calories were in the meal-->
            <input type = "number" name = "calories" min="0" step = "0.1" required> <br> <br> 
            <button type="submit">SAVE</button>
        </form>
        <hr>
        {% if session.role == "gym_goer" %} 
            <a href="{{ url_for('gym_goer_dashboard') }}">Back to Dashboard</a>
        {% else %}
            <a href="{{ url_for('personal_trainer_dashboard') }}">Back to Dashboard</a>
        {% endif %}
        <a href="/">Back to Home</a>  
    </body>
</html>