<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <title>Login</title> 
        <script> //Javascript function
            function togglePassword() { //Switches password from being hidden to visible
                const passwordInput = document.getElementById("password"); //Gets the password element
                if (passwordInput.type === "password") { 
                    passwordInput.type = "text"; //Password in visible characters
                } else {
                    passwordInput.type = "password"; //Password in hidden characters
                }
            }
        </script>
    </head>
    <body> 
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul style="color: green;">
                    {% for message in messages %} 
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>Login</h2> 
        <form action="/login" method = "POST"> 
            <label>Username: </label> <br> <!--Allows the user to input a username-->
            <input type = "text" name = "username" required> <br> <br>
            <label>Password: </label> <br>
            <button type = "button" onclick = "togglePassword()">👁</button> <!--Button to switch between viewing and hiding the password-->
            <input type = "password" id = "password" name = "password" required> <br> <br>  <!--Allows the user to input a password-->
            <a href="/">Back to Home</a>
            <button type="submit">Login</button>
        </form>
    </body>
</html>