<!DOCTYPE html>
<html lang = "en"> 
    <head> 
        <meta charset="UTF-8">
        <title>Personal Trainer Dashboard</title> 
    </head>
    <body> 
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul style="color: green;"> 
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Personal Trainer Dashboard</h1> 
        <a href="/log-workout">Log Workout</a> <br> <br> 
        <a href="/logout">Logout</a> 
        <a href="/workout-history">View Workout History</a> 
        <a href="/log-calories">Track Your Calories</a> 
        <a href="/calorie-history">View Calories Tracked</a>
        <a href="/add-exercise">Add Exercise</a> <!--Allows the user to add exercises-->
        <a href="/view-favourites">View Favourites</a> 
        <a href="/exercises">View Exercises</a> 
        <a href="/add-meal-plan">Add Meal Plan</a> <!--Allows users to create meal plans-->
        <a href="/meal-plans">View Meal Plans</a>
        <a href="/workout-routines">View Workout Routines</a>
        <a href="/add-workout-routine">Add Workout Routine</a> <!--Allows users to creat workout routines-->
    </body>
</html>