<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Personal Trainer Dashboard</title>
    </head>
    <body>
        <h1>Personal Trainer Dashboard</h1>
        <a href="/log-workout">Log Workout</a> <br> <br>
        <a href="/logout">Logout</a> <!--Sends the user back to the home page-->
        <a href="/workout-history">View Workout History</a> <!--Allows the user to see a lift of their logged workouts-->
        <a href="/log-calories">Track Your Calories</a>
        <a href="/calorie-history">View Calories Tracked</a>
    </body>
</html>