<!DOCTYPE html> <!--Informs the browser that the page is an HTML5 document-->
<html lang="en"> <!--Specifies the content is in english improving accessibily-->
    <head> <!--Contains metadata-->
        <meta charset="UTF-8"> <!--Informs the browser how to interpret characters supporting various letter, symbols and accents-->
        <title>Register</title> <!--Name of browser tab-->
        <script> //Javascript function
            function togglePassword() { //Switches password from being hidden to visible
                const passwordInput = document.getElementById("password"); //Gets the password element
                if (passwordInput.type === "password") {
                    passwordInput.type = "text"; //Password in visible characters
                } else {
                    passwordInput.type = "password"; //Password in hidden characters
                }
            }
        </script>
    </head>
    <body> <!--What the user sees/interacts with-->
        {% with messages = get_flashed_messages() %} <!--Retrives the message created with flash-->
            {% if messages %} <!--If the message exists, it's shown with green text-->
                <ul style="color: green;">
                    {% for message in messages %} <!--Creates a for loop that keeps showing messages when the PWA is run-->
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>Register Account</h2> <!--Informs the user to register an account-->
        <form action="/register" method = "POST"> <!--Sends data to flask's register route POST meants that the data is not sent in the url to ensure security-->
            <label>Username: </label> <br> <!--Allows the user to input a username-->
            <input type = "text" name = "username" required> <br> <br>
            <label>Password: </label> <br> <!--Allows the user to input a password-->
            <button type = "button" onclick = "togglePassword()">👁</button> 
            <input type = "password" id = "password" name = "password" required> <br> <br>
            <label>Role: </label> <br> <!--Creates a dropdown menu for the user to choose their role-->
            <select name = "role" required> <!--Allows user to select their role-->
                <option value = "gym_goer">Gym Goer</option>
                <option value="trainer">Personal Trainer</option>
            </select> <br> <br>
            <a href="/">Back to Home</a>
            <button type="submit">Register</button> <!--Submits the form and calls the register route-->
        </form>
    </body>
</html>