<!DOCTYPE html> 
<html lang = "en"> 
    <head>
        <meta charset="UTF-8"> 
        <title>Favourites</title>
    </head>
    <body> 
        {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <ul style="color: green;"> 
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>My Favourites</h2>
        
        <!--EXERCISES SECTION -->
        <h3>Exercises</h3>
        {% if exercises %}
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px">
                {% for exercise in exercises %}
                    <div style="border:1px solid #ccc; padding:10px"> 
                        <h3>{{ exercise.name }}</h3> 
                        <p><strong>Muscle: </strong> {{ exercise.muscle_group }} </p> 
                        {% if exercise.image_url %} 
                            <img src="{{ exercise.image_url }}" width="100%">
                        {% endif %}
                        <a href="{{ url_for('exercise_detail', exercise_id = exercise.id) }}">
                            View Details
                        </a>
                    </div> 
                {% endfor %}
            </div>
        {% else %}
            <p>No favourited exercies</p>
        {% endif %}
        <br>
        <hr> 

        <!--MEAL PLANS SECTION-->
        <h3>Meal Plans & Diets</h3>
        {% if meal_plans %} 
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px"> 
                {% for plan in meal_plans %} 
                    <div style="border:1px solid #ccc; padding:10px"> 
                        <h3>{{ plan.name }}</h3> 
                        <p>{{ plan.description }}</p> 
                        <a href="{{ url_for('meal_plan_detail', plan_id=plan.id) }}">View Details</a> 
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No favourited meal plans</p> 
        {% endif %}
        <br>
        <hr>

        <!--WORKOUT ROUTINES SECTION-->
        <h3>Workout Routines</h3>
        {% if routines %}
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px"> 
                {% for routine in routines %} 
                    <div style="border:1px solid #ccc; padding:10px"> 
                        <h3>{{ routine.name }}</h3> 
                        <p><strong>Difficulty: </strong>{{ routine.difficulty }}</p> 
                        <p>{{ routine.description }}</p> 
                        <a href="{{ url_for('routine_detail', routine_id=routine.id) }}">View Details</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No favourited workout routines.</p>
        {% endif %}
        <br>
        <hr>

        {% if session.role == "gym_goer" %}
            <a href="{{ url_for('gym_goer_dashboard') }}">Back to Dashboard</a>
        {% else %}
            <a href="{{ url_for('personal_trainer_dashboard') }}">Back to Dashboard</a>
        {% endif %}
        <a href="/">Back to Home</a> 
    </body>
</html>