<!--This file uses Jinja2 which is flask's templating engine-->
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Workout History</title>
    </head>
    <body>
        <h2>Your Workout History</h2> 
        {%if workouts %} <!--Flask checks if a table named workouts exists. If it does then it shows the table and if not it informs the users that there are no workouts logged-->
            <table border="1" cellpadding = "5"> <!--Creates a table with a border and cell spacing-->
                <tr> <!--Rows of the table-->
                    <th>Date</th> <!--Table headings-->
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Actions</th>
                </tr>
            {% for workout in workouts %} <!--A loop that goes over each workout object from the database to display them 1 row at a time-->
            <tr>
                <td>{{ workout.workout_date}}</td> <!--Column in the row (table data)-->
                <td>{{ workout.exercise}}</td>
                <td>{{ workout.sets }}</td>
                <td>{{ workout.reps }}</td>
                <td>{{ workout.weight }}</td>
                <td>
                    <a href="{{ url_for('edit_workout', workout_id = workout.id) }}">Edit</a>
                    <form action = "{{ url_for('delete_workout', workout_id = workout.id) }}" method = "POST" style = "display:inline;">
                        <button type = "submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %} <!--Ends the loop-->
            </table>
        {% else %}
            <p>No workouts logged</p>
        {% endif %} <!--Ends the if statement-->
        <br>
        <hr>
        {% if session.role == "gym_goer" %}
            <a href="{{ url_for('gym_goer_dashboard') }}">Back to Dashboard</a>
        {% else %}
            <a href="{{ url_for('personal_trainer_dashboard') }}">Back to Dashboard</a>
        {% endif %}
        <a href="/">Back to Home</a> 
    </body>
</html>